<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta http-equiv="X-Frame-Options" content="deny">-->


    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <title>新疆岳普湖县农村饮水安全云平台</title>
    <!-- 使用CDN加速的CSS文件，配置在vue.config.js下 -->
    <!--<% for (var i in htmlWebpackPlugin.options.cdn&&htmlWebpackPlugin.options.cdn.css) { %>-->
    <!--<link href="<%= htmlWebpackPlugin.options.cdn.css[i] %>" rel="preload" as="style">-->
    <!--<link href="<%= htmlWebpackPlugin.options.cdn.css[i] %>" rel="stylesheet">-->
    <!--<link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">-->
    <!--<script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>-->
    <!--<% } %>-->
</head>
<body class="B_main">
<noscript>
    <strong>We're sorry but Internet_cloud doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="front"></div>
<!-- built files will be auto injected -->
<script src="http://api.tianditu.gov.cn/api?v=4.0&tk=0af941763e7a2be8f66f15d938f4346c" type="text/javascript"></script>
<script type="text/javascript" src="http://resource.bcevod.com/player/cyberplayer.js"></script>
<!--<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script>-->
<!-- 使用CDN加速的JS文件，配置在vue.config.js下 -->
<!--<% for (var i in htmlWebpackPlugin.options.cdn&&htmlWebpackPlugin.options.cdn.js) { %>-->
<!--<script src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>-->
<!--<% } %>-->
<!--<script src="../src/assets/js/common/array.js"></script>-->
</body>
</html>
